.card{
    text-align: left;
    width: 300px;
    background-color: white;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    transition: all 0.3s ease-in;
    border-radius: 10px;
}
.card:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.card_img{
    position: relative;
}
.card_img img{
    height:170px;
    width:290px;
    object-fit: cover;
    border-radius:10px 10px 0px 0; 
    border:5px solid white;
}
.heart_div{
    background-color: white;
    height: 40px;
    width:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    position: absolute;
    right:10px;
    top:150px;
    
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.card_text{
    padding:10px 20px;
}
.card_text h6{
    font-size: 14px;
    color: rgb(255, 55, 0);
    margin:0;
}
.card_text p{
    color: rgb(50, 50, 50);
    font-size: 14px;
}
.card_text h4{
    color:rgb(43, 43, 43);
    font-size: 16px;
    margin:5px 0px;
    display: flex;
    align-items: center;
}
@media(max_width:600px){
    
}
