.header{
    background-color: white;
    height:120px;
    width:100%;
    position:sticky;
    top:0;
    left:0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.header_1{
    flex:0.4;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.header_2{
    flex:0.2;
}
.header_2 img{
    height: 100px;
    width:100px;
}
.header_3{
    flex:0.4;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.header h1{
    font-size: 20px;
    font-weight: 400;
}
.mint_button{
    border:2px solid #6357a1;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding:5px 10px;
    font-size: 18px;

}
.mint_button img{
    height:25px;
    width:25px;
    margin-right: 10px;
    object-fit: contain;
}
.header_phone{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:100000;
    position: sticky;
    display: none;
    padding:20px 40px;
}
.header_phone img{
    width:60px;
    height:60px
}
.header_menu{
    position: fixed;
    height:120vh;
    top:0;
    z-index:100000;
    right:-70%;
    background-color: white;
    width:70%;
    
    transition: all .5s ease-in;
}
.close{
    position: absolute;
    right: 30px;
    top:40px;
}

.menu{
    margin-top: 105px;
 
    height: 90vh;
}

.menu h1{
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.menu .mint_button{
    margin-top: 120px;
    height: 35px;
    margin-left: 20%;
}
.menu .mint_button img{
    height: 20px;
    width:20px;
}
.header_menu.active{
    right:0;
    z-index:100000;
}
@media(max-width:700px){
    .header{
        display: none;
    }
    .header_phone{
        display: flex;  
    }
}