.contact_main{
    background-color: #6358A6;
    padding:30px 150px;
    color:white;
}
.contact_form{
    background-color: #645397;
    padding:40px 80px;

}
.contact_input{
    flex:0.48;
    color:white;
    text-align: left;
}
.contact_input h2{
    
    font-size: 18px;
}
.contact_textarea h2{
    font-size: 18px;
}
.contact_row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
}

.contact_input input{
    background-color: #272652;
    width:100%;
    color:white;
    height:30px;
    border:none;
    border-radius: 25px;
    font-size: 20px;
    padding:10px 10px;
    outline: none;
}
.contact_textarea{
    text-align: left;
}
.contact_textarea textarea{
    background-color: #272652;
    color:white;
    width:100%;
    border:none;
    border-radius: 25px;
    font-size: 20px;
    padding:10px 0px;
    outline: none;
}

::placeholder{
    color:white!important;
    font-size: 16px;
    padding-left: 20px;
}
.sendMessage_btn{
    padding:10px 30px;
    border:none;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 400;
    color: white;
    background-color: #272652;
    margin-top: 20px;
}
@media(max-width:900px){
    .contact_main{
        padding:30px 40px;
    }
   
}
@media(max-width:800px){
    .contact_row{
        flex-direction: column;
        width:100%;
        flex:1;
    }
    .contact_input{
       width:100%;
       flex:0.8;
    }
    .contact_form{
        padding: 40px 30px;
    }
    .contact_textarea textarea{
        width:100%;
    }
    ::placeholder{
        padding-left: 15px;
    }
}
@media(max-width:450px){
    .contact_form{
        padding:20px 20px;
    }
    .contact_input input{
        height: 25px;
    }
    .contact_main{
        padding:30px 20px;
    }
}