.footer_main{
    background-color: black;
    color:white;
    padding-bottom: 10px;
}
.footer_main p{
    margin:0;
}
.footer{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:black;
    color:white;
    flex-wrap: wrap;
}
.footer1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex:0.5;
}
.footer_logo{
   
    flex:0.5;
}
.footer_links{
    flex:0.5;
}
.footer_logo img{
    height: 300px;
    width:300px;
}
.footer2{
    flex:0.5;
    display: flex;

}
.footer_icons{
    flex:0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#6357a1;
}
.footer_icon{
    border:2px solid #6357a1;
    height: 40px;
    font-size: 20px;
    width:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.footer_mint{
    flex:0.5; 
}
.footer_links p{
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 300;
}
.footer_links a{
    color:white!important;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 300;
}
.mint_button2{
    border:2px solid #6357a1;
    background-color: black;
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding:5px 10px;
    font-size: 18px;
}
.mint_button2 img{
    height:25px;
    width:25px;
    margin-right: 10px;
    object-fit: contain;
}
.copyright{

}
@media(max-width:600px){
    .footer1{
        flex-direction: column;
    }
    .footer_logo img{
        height: 200px;
        width: 200px;
    }
    .footer{
        flex-direction: column;
    }
    .footer_links{
        margin-bottom: 40px;
    }
    .copyright{
        margin: 0 !important;;
        margin-top: 20px!important;
        font-size: 12px!important;
    }
    .mint_button2{
        font-size: 12px;
        min-width: 150px;
        margin-left: 40px;
    }
}