.singleEvent1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.singleEvent11{
    flex:0.5;
    text-align: left;
    padding: 30px 100px;
}
.singleEvent11 h1{
    font-size: 60px;
}
.singleEvent11 h5{
    font-size: 24px;
    font-weight: 400;
}
.singleEvent12{
    flex:0.5;
}
.singleEvent12 img{
    width:100%;
}
.singleEvent2{
    display: flex;
    padding:40px 10px;
}
.event_date{
    display: flex;
    align-items: center;
    flex:0.2;
    padding-left: 20px;
}
.event_venue{
    display: flex;
    align-items: center;
    flex:0.5;
}
.ticket_div{
    flex:0.3;
}
.singleEvent3{
    display: flex;
    background-color: rgb(231, 231, 231);
}
.heading_left{
    flex:0.4;
    text-align: left;
    padding:30px 50px;
    color: rgb(89, 89, 89);
}
.heading_left h2{
    font-size: 28px;
}
.heading_left hr{
    width:30px;
    margin-left: 0px;
    margin-top: -15px;
}
.event_data{
    flex:0.6;
    text-align: left;
    padding:40px 50px;
     
}
.info{
    display: flex;
    justify-content: space-between;
}
.singleEvent4{
    display: flex;
}
.calender{
    font-size: 30px;
    color:#E74B8C;
    padding:0 10px;
}
.singleEvent_data{
    text-align: left;
    color:rgb(89, 89, 89);
}
.singleEvent_data h4{
    margin:0;
}
.singleEvent_data p{
    margin:0;
    font-size: 14px;
    color:#eb2e7d;
}
.buyTickets_btn{
    background: rgb(249,0,80);
    background: linear-gradient(90deg, rgba(249,0,80,1) 0%, rgba(227,59,129,1) 35%, rgba(231,0,96,1) 100%);
    color: white;
    font-size: 14px;
    padding:10px 60px;
    border-radius: 5px;
    border:none;
}
@media(max-width:1000px){
    .singleEvent12 img{
        width:100%;
    }.singleEvent11{
        flex:0.3;
        padding: 30px 50px;
    }
    .singleEvent12{
        flex:0.7;
    }
    .singleEvent11 h1{
        font-size: 50px;
    }.heading_left{
        flex:0.3;
    }
    .event_data{
        flex:0.7;
        padding:40px 20px;
    }
}
@media(max-width:700px){
    .singleEvent1{
        flex-direction: column-reverse;
    }
    .singleEvent11{
       
       text-align: center;
    }
}
@media(max-width:500px){
    .singleEvent11{
        padding: 10px 50px;
    }
    .singleEvent2{
        flex-direction: column;
        text-align: center;
    }
    .event_date{
        justify-content: center;
        margin-bottom: 30px;
    }
    .event_venue{
        justify-content: center;
        margin-bottom: 30px;
    }
    .ticket_div{
        justify-content: center;
    }
    .singleEvent3{
        flex-direction: column;

    }
    .heading_left{
        padding-bottom: 0px;
    }
    .event_data{
        padding:0px 50px;
    }
    .singleEvent4{
        flex-direction: column;
    }
}
@media(max-width:450px){
    .heading_left {
        padding:20px 20px;
    }
    .singleEvent11 h1{
        font-size: 35px;
    }
    .singleEvent11 h5{
        font-size: 20px;
    }
    .event_data{
        padding:20px 20px;
    }
    .event_data p{
        font-size: 14px;
    }
}